<div class="promises-list">
    {% comment %} SHIPPING {% endcomment %}
    <div class="promise shipping-policy">
        <div class="promise__label">Shipping:</div>
        <div class="promise__content">
            <div>
                <span class="emphasize">FREE </span>Standard Shipping
                <span id="geo_location"></span>
            </div>
            <div class="promise__content--sub-content">Tracking Available</div>
        </div>
    </div>

    {% comment %} DELIVERY {% endcomment %}
    <div class="promise estimated-delivery">
        <div class="promise__label">Delivery:</div>
        <div class="promise__content">
            Estimated between
            <span class="emphasize">
                <span id="est_delivery_min"></span> and <span id="est_delivery_max"></span>
            </span>
        </div>
    </div>


    {% comment %} RETURNS {% endcomment %}
    <div class="promise return-policy">
        <div class="promise__label">Returns:</div>
        <div class="promise__content">
            30 Days Return Accepted. <a class="underline details-link" target="_blank" href="https://www.nopeless.com/pages/returns-and-replacements">See Details</a>
        </div>
    </div>

    {% comment %} PAYMENTS {% endcomment %}
    <div class="promise payments">
        <div class="promise__label">Payments:</div>
        <div class="promise__content">
            <img src="https://cdn.shopify.com/s/files/1/0054/0583/5382/files/safe_checkout_600.png?7640581648472231709"/>
        </div>
    </div>

    {% comment %} GUARANTEE {% endcomment %}
    <div class="promise guarantee">
        <div class="promise__label">Guarantee:</div>
        <div class="promise__content">
            <div>
                <a target="_blank" href="https://www.nopeless.com/pages/nopeless-moneyback-guarantee"><img src="https://cdn.shopify.com/s/files/1/0054/0583/5382/files/guarantee.png?2655995541382554453"/></a>
            </div>

            <div class="promise__content--sub-content">
                Get your item or get moneyback. <a class="underline" target="_blank" href="https://www.nopeless.com/pages/nopeless-moneyback-guarantee">Details</a>
            </div>
        </div>
    </div>
</div>